<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2 th:text="${'Welcome ' + user.firstName + ' ' + user.lastName + ' to Tripeco '}"></h2>
<p>Below are your user login details:</p>
<ul>
    <li>Username: <strong th:text="${user.email}"></strong></li>
    <li>Password: <strong th:text="${password}"></strong></li>
</ul>
<p>You can change your password after initial login from the Tripeco app.</p>

</body>
</html>
