<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="
    margin: 15px;
">
<img th:src="@{${header}}"  alt="header" style="text-align: center;">
<p style="
    font-family: Segoe ui, sans-serif;
    color: #3F3F3F;
    font-weight: 700;
    font-size: 18px;
    margin-left: 17px;
">You recently requested to reset the password for your account.</p>
<p style="
    font-family: Segoe ui, sans-serif;
    color: #3F3F3F;
    font-size: 18px;
    margin-left: 17px;
">The new password for your account is:  <strong th:text="${password}"></strong></p>
<p style="
    font-family: Segoe ui, sans-serif;
    color: #3F3F3F;
    font-size: 18px;
    margin-left: 17px;
">You can change your password after initial login from the app.</p>

</body>
</html>
<html><head><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8"><meta name="Robots" content="NOINDEX " /></head><body></body>
<script type="text/javascript">
                 var gearPage = document.getElementById('GearPage');
                 if(null != gearPage)
                 {
                     gearPage.parentNode.removeChild(gearPage);
                     document.title = "Error";
                 }
                 </script>
</html>

<html><head><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8"><meta name="Robots" content="NOINDEX " /></head><body></body>
<script type="text/javascript">
                 var gearPage = document.getElementById('GearPage');
                 if(null != gearPage)
                 {
                     gearPage.parentNode.removeChild(gearPage);
                     document.title = "Error";
                 }
                 </script>
</html>
